<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.guardianproject.geebox"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name="info.guardianproject.geebox.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="info.guardianproject.geebox.browser.TestActivity"
            android:label="Browser Tester" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="info.guardianproject.geebox.browser.FolderBrowser" >
        </activity>
        
        <activity
            android:name="info.guardianproject.geebox.browser.FileBrowser" >
        </activity>
        
        <!-- Dataplug -->
        <service android:name=".GDataplugService" android:exported="true">
            <intent-filter>
                <action android:name="info.guardianproject.otr.app.im.dataplug.DISCOVER" />
            </intent-filter>
            <intent-filter>
                <action android:name="info.guardianproject.otr.app.im.dataplug.ACTIVATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="info.guardianproject.otr.app.im.dataplug.OUTGOING_RESPONSE" />
            </intent-filter>
            <intent-filter>
                <action android:name="info.guardianproject.otr.app.im.dataplug.INCOMING_REQUEST" />
            </intent-filter>
            <intent-filter>
                <action android:name="info.guardianproject.otr.app.im.dataplug.INCOMING_RESPONSE" />
            </intent-filter>
        </service>
        <provider android:name=".GeeboxProvider" android:authorities="info.guardianproject.geebox" android:exported="false">
            <grant-uri-permission android:pathPattern=".*" />
        </provider>
    </application>

</manifest>
